
#completeRow1 .hideIt {
    visibility: hidden!important;
}

#completeRow2 label {
    display:none;
}

.navbar-trans {
    background-color: rgba(0,0,0,0.3)!important;
}

.navbar li {
    font-size: 1.3em!important;
    padding-right: 1em;
}

.closeCross {
    padding:0;
    margin:0;
    background-color: #fff;
    border:0;
    position:absolute;
    bottom:20px;
}


@media print { 
body * {
    visibility: hidden;
    width:100%;
  }
  #section-to-print, #section-to-print * {
    visibility: visible;
  }
  #section-to-print {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.header-container {
    background-color: rgba(255,255,255,0);
}

.video-container {
    position:absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index:-1;
}

.centerDiv img { 
    display: block;
    margin:auto;
}

.centerDiv a {
    display: block;
    margin: auto;
    width:200px;
}

video {
    position: absolute;
  left: 50%;
  top: 0;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  min-width:100%;
  min-height:100%;
  z-index: -100;

}

h3 {
    color:#fff;
    margin:auto;
    margin-top:10%;
    text-align: center;
    font-size:65px;
}


.tm-bgRed {
    background-color: #a30028;
}

.tm-bgRed:hover{
    background-color: #f4003d!important;
    cursor: pointer;
    box-shadow: 0 0 12px rgba(255, 255, 255,0.5);
}

#p3JP, #p4JP, #p7JP, #p4DW, #p9P {
    background-color: #f4003d;
}

#p3JP:hover, #p4JP:hover, #p7JP:hover, #p4DW:hover, #p9P:hover {
    background-color: #343A40!important;
}

.p3JPUitkomst {
    margin:auto;
}
.card-body-red {
    background-color:#5E1919;
}

.card-body-red a {
    display:block;
    color:#fff;
}

.slideClosed {
    display: none;
}

.slideOpen {
    display: inline-block;
}

.uitKomst {
    font-weight:bold;
    border-top:1px solid #333;
    border-bottom:1px solid #333;
}
